@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@using System.Linq;
@model HairSalon.Models.Client;

<h2>Client Information</h2>
<hr/>
<div class="client-info">
    <h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h>
    <h5>@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)</h5>
    <h5>@Html.DisplayNameFor(model => model.Number): @Html.DisplayFor(model => model.Number)</h5>
</div>

<div class="action-links">
<p>@Html.ActionLink("Back to Stylist", "Details", "Stylists") | @Html.ActionLink("Update Information", "Edit", new { id = Model.ClientID}) | @Html.ActionLink("Remove Client", "Delete", new { id = Model.StylistID})</p>
</div>